@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular.woff2');
    src: url('../fonts/lato-regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold.woff2');
    src: url('../fonts/lato-bold.woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-italic.woff2');
    src: url('../fonts/lato-italic.woff');
    font-weight: 400;
    font-style: italic;
}