$black: #222222;
$light-pink: #F1E4E6;
$dark-pink: #F16D7F;
$sales-bkg-color: #4F4745;
$white: #F8F8F8;

$desktop: 1600px;
$laptop-xl: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-xl: 425px;
$mobile: 376px;