.cart {
    min-height: 998px;

    .cart__wrp {
        display: flex;
        justify-content: space-between;
        padding: 96px 0 0 0;

        @include tablet {
            flex-wrap: wrap;
            padding: 59px 0 0 0;
        }

        @include mobile {
            flex-wrap: wrap;
            padding: 39px 0 0 0;
        }
    }

    .cart__goods {
        width: 51%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include laptop-xl {
            width: 55%;
        }

        @include laptop {
            width: 60%;
        }

        @include tablet {
            width: 95.6%;
        }
    }

    .cart__item {
        width: 100%;
        height: 306px;
        box-shadow: $black;
        box-shadow: 20px 12px 18px 6px rgba(0, 0, 0, 0.15);
        margin: 0 0 40px 0;

        @include laptop {
            max-height: 270px;
        }

        @include tablet {
            width: 95.6%;
        }

        @include tablet-s {
            max-height: 200px;
        }

        @include mobile-xl {
            width: 95.5%;
            height: 188px;
        }
    }

    .cart__item-wrp {
        width: 100%;
        display: flex;
        position: relative;

    }

    .cart__item-img-block {
        width: 40.2%;

        @include tablet-s {
            max-height: 200px;
        }

        @include mobile-xl {
            max-height: 188px;
        }
    }

    .cart__item-img {
        width: 100%;

        @include laptop {
            max-height: 270px;
        }

        @include tablet-s {
            max-height: 200px;
        }

        @include mobile-xl {
            max-height: 188px;
        }

        @include mobile {
            height: 158px;
        }
    }

    .cart__item-property-wrp {
        margin: 22px 0 0 31px;

        @include mobile {
            margin: 13px 0 0 17px;
        }
    }

    .cart__item-title {
        width: 80%;
        text-transform: uppercase;
        @include font(24px, 29px);
        margin: 0 0 42px 0;

        @include tablet-s {
            width: 130px;
            @include font(16px, 19px);
            margin: 0 0 26px 0;
        }
    }

    .cart__item-property-descr {
        margin: 0 0 6px 0;
        @include font(22px, 26px);
        color: #575757;

        @include tablet-s {
            @include font($line-height: 17px);
            margin: 0 0 4px 0;
        }
    }

    input[type="number"] {
        width: 30px;
        height: 22px;
        border: 1px solid #EAEAEA;
        margin: 0 0 0 25px;
        padding: 0 0 0 12px;
        text-align: center;
        @include font(18px, 21px);

        @include tablet {
            margin: 0 0 0 20px;
            padding: 0;
        }

        @include mobile {
            width: 24px;
            height: 15px;
            margin: 0 0 0 15px;
            @include font(10px, 12px);
        }
    }

    .cart__item-btn {
        position: absolute;
        background-color: transparent;
        border: none;
        cursor: pointer;
        top: 25px;
        right: 22px;
        padding: 3px 3px 0 3px;
        fill: #575757;

        &:hover,
        &:focus {
            outline: 1px solid $black;
        }

        &:active {
            outline: 1px solid $black;
            background-color: $black;
            fill: $white;
        }
    }

    .cart__btn-wrp {
        display: flex;
        justify-content: space-between;
        margin: 32px 0 0 0;

        @include tablet {
            justify-content: center;
            margin: 30px 0 64px 0;
        }

        @include mobile {
            justify-content: space-between;
        }
    }

    .cart__btn {
        width: 36%;
        height: 49px;
        background-color: transparent;
        text-transform: uppercase;
        border: none;
        outline: 1px solid #A4A4A4;
        cursor: pointer;
        @include font;
        margin: 0 25px;

        @include mobile {
            width: 174px;
            height: 32px;
            @include font(12px, 14px);
            margin: 0;
        }

        &:hover,
        &:focus {
            outline: 2px solid $dark-pink;
            background: transparent;
            color: $dark-pink;
            cursor: pointer;
            fill: $dark-pink;
        }

        &:active {
            outline: 2px solid $dark-pink;
            background-color: $black;
            color: $white;
            fill: $white;
        }
    }

    .cart__delivery {
        width: 28.6%;
        height: 493px;

        @include tablet {
            width: 95.6%;
            display: flex;
            flex-wrap: wrap;
            height: 285px;
            margin: 0 auto 128px auto;
            height: auto;
        }


        @include mobile {
            /* display: flex; */
            width: 95.5%;
            min-height: 493px;
        }
    }

    .cart__address {
        @include tablet {
            width: 44%;
        }

        @include tablet-s {
            width: 100%;
        }
    }

    .cart__form-title {
        @include font(16px, 19px, 300);
        color: $black;
        text-transform: uppercase;
    }

    .cart__form-input {
        margin: 21px 0 0 0;
        width: 91.1%;
        max-width: 328px;

        @include tablet-s {
            margin: 20px 150px 0 0;
        }
    }

    .cart__form-btn {
        width: 100px;
        height: 34px;
        border: none;
        outline: 1px solid #A4A4A4;
        background-color: transparent;
        text-transform: uppercase;
        cursor: pointer;
        @include font(11px, 13px 300);
        margin: 24px 0 0 0;

        &:hover,
        &:focus {
            outline: 2px solid $dark-pink;
            background: transparent;
            color: $dark-pink;
            cursor: pointer;
            fill: $dark-pink;
        }

        &:active {
            outline: 2px solid $dark-pink;
            background-color: $black;
            color: $white;
            fill: $white;
        }
    }

    .cart__payment {
        width: 99%;
        height: 175px;
        background-color: #F5F3F3;
        margin: 57px 0 0 0;
        text-align: center;
        padding: 39px 0 0 0;

        @include tablet {
            margin: 40px 0 0 15px;
            width: 44%;
        }

        @include tablet-s {
            width: 90%;
            margin: 48px 0 0 0;
        }

        @include mobile {}
    }

    .cart__payment-text {
        color: #4A4A4A;
        @include font(11px, 13px);
        text-transform: uppercase;
        text-align: end;

        span {
            margin: 0 35px 0 18px;
        }
    }

    .cart__payment-heading {
        color: $black;
        text-transform: uppercase;
        @include font(16px, 19px, 300);
        margin: 12px 0 18px 0;
        text-align: end;
    }

    .cart__payment-subheading {
        font-weight: 700;
        margin: 0 35px 0 18px;
    }

    hr {
        width: 76.4%;
    }

    .cart__payment-btn {
        width: 76%;
        height: 50px;
        max-width: 360px;
        @include font(16px, 19px, 300);
        text-transform: uppercase;
        color: $white;
        font-family: 'Lato', sans-serif;
        background-color: $dark-pink;
        border: none;
        fill: $white;
        margin: 17px auto 0 auto;

        &:hover,
        &:focus {
            outline: 2px solid $dark-pink;
            background: transparent;
            color: $dark-pink;
            cursor: pointer;
            fill: $dark-pink;
        }

        &:active {
            outline: 2px solid $dark-pink;
            background-color: $black;
            color: $white;
            fill: $white;
        }
    }
}